doctype html
html(lang="en")
  head
      link(rel='stylesheet' href='app.css' type='text/css')
      meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
      meta(charset='utf8')
      
  body
    section#main-container
      h1 Hola Mundo
    footer#main-footer
